

.App-frame {
  display: grid;
  grid-template-rows: 1.5fr 6fr;
  height: 100vh;
  background-color: antiquewhite;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header-text {

  font-size: 18px;
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
}

.Header-title {

  font-size: 50px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Canvas-frame {
  display: flex;
  height: 100%;
  background-color: antiquewhite;
  justify-content: center;
}
.Canvas {
  align-self: center;

  display: flex;
  width: 70% !important;
  height: 90% !important;
  background-color: tan;
}
